
<div class="container-fluid home_container">

  <div class="big_pic col-xs-12">
    <h1 class="litter_snapp">Litter sn<span style="font-style:italic">App</span></h1>
    <div class="slogan">
      <h2>A beautiful and safe <h2>
      <h2>neighbourhood starts with you</h2>
    </div>
    <%= image_tag("free_pics/mobile_original-min.jpeg") %>
  </div>

  <div class="col-xs-12 col-sm-4 three_pics_with_text">
    <%= image_tag("free_pics/people_sitting_park-min") %>
    <h3> Help out your local environment </h3>
    <p>
      Do you want to help keep your local environment stay clean and safe?
      <span style="font-family: 'Baloo Bhaina', cursive; color: #03b421">Litter sn<span style="font-style:italic">App</span></span> aims to bring people together,
      by letting them map litter in their neighbourhood with their phone. Additionally, <span style="font-family: 'Baloo Bhaina', cursive; color: #03b421">Litter sn<span style="font-style:italic">App</span></span>
     provides easy ways to
      plan and organize local clean up events. Get your community together and
      help make this world a better, more beautiful place!
    </p>
  </div>

  <div class="col-xs-12 col-sm-4 three_pics_with_text">
    <%= image_tag("free_pics/girl_forest_backpack-min") %>
    <h3> How it works </h3>
    <p>
      Map the litter you encounter by snapping a picture with your phone. The
      picture will be uploaded and displayed on the map, effectively creating a
      heat map. Check if there is a cleanup event planned in your neighbourhood,
      or organize one yourself in a litter rich area! Pick a date and
      time and invite your friends and neighbours! Anyone can join in to help keep
      our cities beautiful and safe.
    </p>
  </div>

  <div class="col-xs-12 col-sm-4 three_pics_with_text">
    <%= image_tag("free_pics/girl_v_sign-min.jpeg") %>
    <h3> Benefits of participating </h3>
      <ul class = "benefits_list">
        <li>Neighbourhood / local environments will be free from litter and will become safe and beautiful again. </li>
        <li>You help reduce pollution in the environment we all share, making it easier to appreciate all green areas around us. </li>
        <li>It enhances the sence of community</li>
      </ul>
  </div>
  <br><br><br>
</div>
