// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin: 0px;
}

.container-fluid {
	padding: 0px;
}

#myCarousel ol li {
	background-color: #48a610;
	border-color: white;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 10px;
}

#carousel{
 border: black solid thin;
 padding: 0px;
 margin-top: 20px;
 // margin-left: 10px;
}

.img-responsive {
	display: flex;
	max-width: 100%;
	height: 100vh;
	// width: 1200px;
	background-size: cover;
	margin-right: 0px !important;
}

.join-btn-div {
	position: absolute;
	font-family: 'Questrial', sans-serif;
	top: 75%;
	left: calc(50% - 101px);
	z-index: 1;
}

.join-btn {
	font-size: 26px;
	color: white;
	background-color:  #48a610;
}
.join-btn:hover {
	font-size: 26px;
	color: #48a610;
	background-color:  yellow;
}

.details_and_map {
	 margin-top: 15px;
}

.details {
	color:  #48a610;
	font-family: 'Questrial', sans-serif;
	// text-align: center;
	padding-left: 50px;
}

.details h1 {
	padding-right: 40px;
	font-weight: bold;
	text-align: center;
}
.event-map {
	height: 54vh;
	width: 95%;
	box-sizing: border-box;
	border: medium #48a610 solid;
	position: absolute;
	top: 103%;
	margin-top: 2px;
	margin-bottom: 20px;
}
