  <!-- <br> -->
    <% if flash[:notice] %>
      <div class='alert alert-success flash'><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class='alert alert-danger flash'><%= flash[:alert] %></div>
    <% end %>
