<div class="row">
  <div class="footer col-xs-12">
    <div class="first-line col-xs-12 col-sm-offset-3 col-sm-6">
      <div class="Contact">
        <p>Contact</p>
      </div>
      <div class="social-media-icons">
        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        <i class="fa fa-pinterest-p fa-lg" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
      </div>
      <div class="FAQ">
        <p>FAQ</p>
      </div>
    </div>
    <div class="footer-text col-xs-12 col-sm-offset-3 col-sm-6">
      <div class="footer-text-underline">
        <p>Copyright </p>
        <i id="copyright-icon" class="fa fa-copyright" aria-hidden="true"></i>
        <p> 2017 - All Rights Reserved - Litter Snapp</p>
      </div>
    </div>
  </div>
</div>
